{% extends "base.html" %} {% load static %} {% load student %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/VITlogo.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link
      href="{% static 'css/comdashboard.css' %}"
      rel="stylesheet"
      type="text/css"
    /> -->
    <title>VIT | Placement Cell</title>
    <!-- <script src="index.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->
  </head>
  <body>
    {% block content %}
    <!-- <main> -->
    <!-- <div class="main-content"> -->
    <!-- 
            {{ user.username|student_branch:suser }}
            {{ user.username|yog:suser }} -->
    <div class="wrapper">
      <div class="left">
        <img
          src="{% static 'images/user_profile1.png' %}"
          alt="user"
          width="100"
        />
        <h4>{{ user.username|company_name:cuser }}</h4>
        <p>@ {{ user.username }}</p>
      </div>
      <div class="right">
        <h1>COMPANY DETAILS</h1>
        <hr />
        <div class="pd-info">
          <div class="right-details">
            <h2>Email</h2>
            <h4>{{ user.username|company_email:cuser }}</h4>
          </div>
          <div class="right-details">
            <h2 class="lf-phone">Phone</h2>
            <h4>{{ user.username|contact:cuser }}</h4>
          </div>
        </div>
        <br /><br />
        <div class="pd-info">
          <div class="right-details">
            <h2>Address</h2>
            <h4>{{ user.username|address:cuser }}</h4>
          </div>
        </div>
        <!-- <div class="pd-info">
          <button class="form-submit">Edit</button>
          <a href="#" type="submit" class="form-submit">Save</a>
        </div> -->
      </div>
    </div>
    <!-- </div> -->
    <!-- </main> -->
    {% endblock %}
  </body>
</html>
