{% extends "sbase.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="icon"
          type="image/png"
          href="{% static 'images/VITlogo.png' %}"
        />
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    
        <link
          href="{% static 'css/studashboard.css' %}"
          rel="stylesheet"
          type="text/css"
        />
        <title>VIT | Placement Cell</title>
        <!-- <script src="index.js"></script> -->
      </head>
<body>
    {% block content %}
    you are in internship
    {% endblock %}
</body>
</html>